## portable environment.txt file for conda

name: dhs
channels:
  - conda-forge
  - defaults
dependencies:
- ipykernel=7.2.0
- python=3.10.20
- pip:
      - dh-segment-torch==0.1.0
      - numpy==1.26.4
      - opencv-python==4.11.0.86
      - pandas==2.3.3
      - regex==2026.7.19
      - scikit-image==0.25.2
      - scikit-learn==1.7.2
      - scipy==1.15.3
      - seaborn==0.13.2
      - setuptools==81.0.0
      - tensorboard==2.20.0
      - tensorboard-data-server==0.7.2
      - tensorboardx==2.6.4
      - tensorflow==2.21.0